[submodule "Frost/packages/Ignis"]
	path = Frost/packages/Ignis
	url = https://github.com/oliverjakobs/Ignis
[submodule "Frost/packages/Minimal"]
	path = Frost/packages/Minimal
	url = https://github.com/oliverjakobs/Minimal
