[submodule "Frost/external/GLFW"]
	path = Frost/external/GLFW
	url = https://github.com/oliverjakobs/glfw
[submodule "Frost/external/imgui"]
	path = Frost/external/imgui
	url = https://github.com/oliverjakobs/imgui